.NodeCount {
    text-align: center;
  }

.NodeTable-top10 {
    background: lightgreen;
}

.NodeTable-top10-check {
    padding: 4px;
    color: #237804;
}

.NodeTable-top10-close {
    padding: 4px;
    color: #ad2102;
}

.NodeTable-right {
    float: right;
}

.NodeTable-issues {
    color: #ad2102;
}

.rt-th.rt-resizable-header.-cursor-pointer {
    padding: 10px;
}
.rt-tr-group {        
    text-align: center;
}
.rt-thead.-header {
    font-weight: 800;
}

.ReactTable.-striped {
    background: #F9F9F9;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover{     
    background: #ddd;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12), 0px 1px 1px 1px rgba(0,0,0,0.24);
}
