.NodeCount {
    text-align: center;
  }

/* .NodeCount-counts {
  color: white;
  background-color: #2E3644;
  padding: 20px;
  border-radius: 6px;    
}
.NodeCount-counts span{
  font-weight: 600;
  letter-spacing: 1px;
  padding-right: 5px;
} */
